# Export all names
exportPattern(".")

importFrom("stats", "IQR", "cor", "lm", "median", "residuals")
importFrom("Biobase", "exprs", "featureNames", "sampleNames")
importFrom("affy", "list.celfiles", "mas5calls", "pm", "rma")
